altair
faiss-cpu
google-ai-generativelanguage
google-api-core
google-auth
langchain
langchain-community
langchain-google-genai
numpy
openai
pandas
protobuf
PyPDF2
python-dotenv
scikit-learn
sentence-transformers
streamlit
torch
transformers
